* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #344a72;
  color: #eee;
  line-height: 1.8rem;
}
a {
  text-decoration: none;
}
.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 10px 20px;
}
.form-wrap {
  color: #333;
  background-color: #fff;
  border-radius: 2px;
  padding: 15px 25px;
}
.form-wrap h1,
.form-wrap p {
  text-align: center;
}
.form-wrap .form-group {
  margin-top: 15px;
}
.form-wrap .form-group label {
  display: block;
  color: #666;
}
.form-wrap .form-group input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.form-wrap button {
  display: block;
  width: 100%;
  color: #eee;
  background-color: #49c1a2;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}
.form-wrap button:hover {
  background-color: #37a08e;
}
.form-wrap .bottom-text {
  line-height: 1rem;
  font-size: 12px;
  margin-top: 10px;
}
footer {
  color: #eee;
  text-align: center;
  padding: 5px;
}
footer a {
  color: #49c1a2;
}
