* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.bg-dark {
  background-color: #333;
  color: #eee;
}

.bg-light {
  background-color: #eee;
  color: #333;
}

.bg-primary {
  background-color: #f7c08a;
  color: #333;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  color: #eee;
  font-size: 18px;
  background-color: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn-light {
  color: #333;
  background-color: #eee;
}

.btn:hover {
  background-color: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}

/* Navbar */
.navbar {
  background-color: #333;
  overflow: auto;
}

.navbar a {
  color: #eee;
}

.logo {
  float: left;
  font-size: 1.67rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar ul {
  float: right;
  list-style: none;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  padding: 20px;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  background-color: #444;
  color: #f7c08a;
}

/* Showcase */
.showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 500px;
}

.showcase-content {
  text-align: center;
  color: #eee;
  padding-top: 150px;
}

.showcase-content h1 {
  font-size: 4rem;
  line-height: 1.2em;
}

.showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Home info */

.home-info {
  height: 400px;
}

.info-img {
  background: url('../img/photo-1.jpg') no-repeat;
  min-height: 100%;
  width: 50%;
  float: left;
}

.info-content {
  float: right;
  height: 100%;
  width: 50%;
  padding: 50px 30px;
  overflow: hidden;
  text-align: center;
}

.info-content p {
  padding-bottom: 30px;
}

/* Features */
.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

/* Footer */
.main-footer {
  background-color: #444;
  color: #eee;
  text-align: center;
  padding: 10px;
}
